$light-color: #f4f4f4;
$main-green: #07868f;
$main-purple: #8a25b1;
$main-dark-purple: #42075b;
$main-gray: #b5b5b5;
$border-radius: 30px;
$font-color: #818080;
$btn-hover: #03646b;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: $font-color;
}
.main {
  display: flex;
}

.left-circle {
  background: rgb(66, 7, 91);
  background: linear-gradient(
    90deg,
    rgba(66, 7, 91, 1) 0%,
    rgba(138, 37, 177, 1) 35%,
    rgba(7, 134, 143, 1) 100%
  );
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: -175px;
  margin-top: 200px;

  .left-circle-inner {
    background: #818080;
    background: linear-gradient(0deg, #818080 0%, #b5b5b5 24%, #f4f4f4 100%);
    border: 2px solid $light-color;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 280px;
    margin-top: 250px;
  }
}

.right-circle {
  background: #42075b;
  background: linear-gradient(90deg, #07868f 0%, #42b8c1 51%, #25d5b8 100%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 0px;
  margin-top: -125px;

  .right-circle-inner {
    background: #818080;
    background: linear-gradient(0deg, #818080 0%, #b5b5b5 24%, #f4f4f4 100%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 190px;
    border: 2px solid $light-color;
  }
}

.container {
  width: 60%;
  margin: auto;
  height: 100vh;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .main-logo {
    width: 100px;
    height: auto;
  }
}

.user-settings {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;

  .user {
    padding: 0 15px;
    &:hover {
      cursor: pointer;
    }
  }
  .lang-switch {
    &:hover {
      cursor: pointer;
    }
  }
}

.nk-input {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  input {
    border: 1px solid $main-gray;
    border-radius: $border-radius;
    padding: 10px 15px;
    font-size: 18px;
    width: 390px;
    color: $font-color;
    &:focus {
      outline: none;
    }
  }
  .nk-btn {
    background-color: $main-green;
    border-radius: $border-radius;
    padding: 10px 35px;
    color: #fff;
    margin-left: -40px;

    &:hover {
      cursor: pointer;
      background-color: $btn-hover;
      color: $main-gray;
    }
  }
}

.user-info {
  border: 3px solid #b5b5b5;
  margin-top: 120px;
  width: 315px;
  height: 480px;
  border-radius: 40px;
  position: relative;
  background-color: #f4f4f4;
}

.gift-list {
  border: 3px solid #b5b5b5;
  margin-top: 50px;
  margin-left: -85px;
  width: 85%;
  height: 75vh;
  border-radius: 40px;
  background-color: #f4f4f4;
}

@media (max-width: 320px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}

@media (min-width: 480px) and (max-width: 600px) {
}

@media (min-width: 600px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 900px) {
}

@media (min-width: 900px) and (max-width: 1024px) {
}

@media (min-width: 1024px) and (max-width: 1200px) {
}

@media only screen and (max-width: 1200px) {
  .container{
    width: 100%;
  }

  .left-circle{
    display: none;
  }

  .right-circle{
    display:none;
  }
}
