* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #818080;
}

.main {
  display: flex;
}

.left-circle {
  background: #42075b;
  background: linear-gradient(90deg, #42075b 0%, #8a25b1 35%, #07868f 100%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: -175px;
  margin-top: 200px;
}
.left-circle .left-circle-inner {
  background: #818080;
  background: linear-gradient(0deg, #818080 0%, #b5b5b5 24%, #f4f4f4 100%);
  border: 2px solid #f4f4f4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 280px;
  margin-top: 250px;
}

.right-circle {
  background: #42075b;
  background: linear-gradient(90deg, #07868f 0%, #42b8c1 51%, #25d5b8 100%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 0px;
  margin-top: -125px;
}
.right-circle .right-circle-inner {
  background: #818080;
  background: linear-gradient(0deg, #818080 0%, #b5b5b5 24%, #f4f4f4 100%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 190px;
  border: 2px solid #f4f4f4;
}

.container {
  width: 60%;
  margin: auto;
  height: 100vh;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .main-logo {
  width: 100px;
  height: auto;
}

.user-settings {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.user-settings .user {
  padding: 0 15px;
}
.user-settings .user:hover {
  cursor: pointer;
}
.user-settings .lang-switch:hover {
  cursor: pointer;
}

.nk-input {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.nk-input input {
  border: 1px solid #b5b5b5;
  border-radius: 30px;
  padding: 10px 15px;
  font-size: 18px;
  width: 390px;
  color: #818080;
}
.nk-input input:focus {
  outline: none;
}

.nk-btn {
  background: #07868f;
  border-radius: 30px;
  padding: 10px 35px;
  color: #fff;
}
.nk-btn:hover {
  cursor: pointer;
  background: #03646b;
  background: linear-gradient(0deg, #07868f 15%, #42b8c1 100%);
  color: #c7c6c6;
}

.user-info {
  border: 3px solid #b5b5b5;
  margin-top: 120px;
  width: 315px;
  height: 480px;
  border-radius: 40px;
  position: relative;
  background-color: #f4f4f4;
}

.gift-list {
  border: 3px solid #b5b5b5;
  margin-top: 50px;
  margin-left: -85px;
  width: 85%;
  height: 75vh;
  border-radius: 40px;
  background-color: #f4f4f4;
  padding: 50px 50px 50px 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
}
.gift-list .gift-card {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 0 10px 20px 10px;
  min-width: 150px;
  max-width: 150px;
  overflow: hidden;
  height: 190px;
  padding: 10px;
}
.gift-list .gift-card:hover .img-container .gift-btns, .gift-list .gift-card:hover .img-container .black-hover {
  display: flex;
}
.gift-list .gift-card .img-container {
  width: 120px;
  height: 120px;
}
.gift-list .gift-card .img-container img {
  width: 120px;
  height: 120px;
}
.gift-list .gift-card .img-container .black-hover {
  background: #07868f;
  opacity: 0.5;
  width: 120px;
  height: 120px;
  position: absolute;
  transform: translate(0px, -127px);
  display: none;
}
.gift-list .gift-card .img-container .gift-btns {
  color: white;
  width: 120px;
  height: 120px;
  position: absolute;
  transform: translate(0px, -127px);
  justify-content: center;
  flex-direction: column;
  display: none;
}
.gift-list a {
  text-decoration: none;
  color: #818080;
}
.gift-list a:hover {
  color: #c7c6c6;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .left-circle {
    display: none;
  }

  .right-circle {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */