body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #818080;
}

.main {
  display: flex;
}

.left-circle {
  background: #42075b;
  background: linear-gradient(90deg, #42075b 0%, #8a25b1 35%, #07868f 100%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin-left: -175px;
  margin-top: 200px;
}
.left-circle .left-circle-inner {
  background: #818080;
  background: linear-gradient(0deg, #818080 0%, #b5b5b5 24%, #f4f4f4 100%);
  border: 2px solid #f4f4f4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 280px;
  margin-top: 250px;
}

.right-circle {
  background: #42075b;
  background: linear-gradient(90deg, #07868f 0%, #42b8c1 51%, #25d5b8 100%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-right: 0px;
  margin-top: -125px;
}
.right-circle .right-circle-inner {
  background: #818080;
  background: linear-gradient(0deg, #818080 0%, #b5b5b5 24%, #f4f4f4 100%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 190px;
  border: 2px solid #f4f4f4;
}

.container {
  width: 60%;
  margin: auto;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .main-logo {
  width: 100px;
  height: auto;
}

.user-settings {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.user-settings .user {
  padding: 0 15px;
}
.user-settings .user:hover {
  cursor: pointer;
}
.user-settings .lang-switch:hover {
  cursor: pointer;
}

.nk-input {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}
.nk-input label {
  margin: auto 30px auto 0;
  font-size: 20px;
}
.nk-input .input-container {
  display: flex;
  flex-direction: column;
}
.nk-input input {
  background-color: #f4f4f4;
  border: 1px solid #b5b5b5;
  padding: 10px 15px;
  font-size: 18px;
  width: 390px;
  color: #818080;
}
.nk-input input:focus {
  outline: none;
}

.modal-background {
  width: 100%;
  top: 0;
  left: 0;
  background: #00000099;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nk-modal {
  height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #f4f4f4;
  padding: 30px;
  border: 2px solid #b5b5b5;
}
.nk-modal .add-wish-btns-container {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nk-btn {
  background: #07868f;
  padding: 7px 25px;
  color: #fff;
  border: 1px solid #07868f;
}
.nk-btn:hover {
  cursor: pointer;
  background: #818080;
  border: 1px solid #818080;
}

.nk-cancel-btn {
  padding: 7px 25px;
  color: #818080;
  border: 1px solid #818080;
  float: right;
  background: #f4f4f4;
  margin-right: 15px;
}
.nk-cancel-btn:hover {
  cursor: pointer;
  color: #fff;
  background: #818080;
  border: 1px solid #818080;
}

.user-info-container {
  border: 3px solid #b5b5b5;
  margin-top: 120px;
  width: 350px;
  height: 480px;
  border-radius: 40px;
  position: relative;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}
.user-info-container .user-photo {
  width: 220px;
  height: 220px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 2px solid red;
}
.user-info-container .user-info {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.wish-list {
  border: 3px solid #b5b5b5;
  margin-top: 20px;
  margin-left: -85px;
  width: 85%;
  height: 69vh;
  max-height: 670px;
  border-radius: 40px;
  background-color: #f4f4f4;
  padding: 40px 50px 40px 130px;
  overflow: auto;
}
.wish-list .wish-card {
  margin: 10px;
  width: 150px;
  height: 190px;
  text-align: center;
  float: left;
}
.wish-list .wish-card:hover .img-container .wish-btns, .wish-list .wish-card:hover .img-container .black-hover {
  display: flex;
}
.wish-list .wish-card:hover .img-container .overlay {
  display: block;
  background: #0000004d;
}
.wish-list .wish-card:hover .img-container .option-btns {
  opacity: 1;
}
.wish-list .wish-card .img-container {
  position: relative;
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wish-list .wish-card .img-container .overlay,
.wish-list .wish-card .img-container .overlay-reserved {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wish-list .wish-card .img-container .overlay {
  background: #00000000;
  transition: background 0.5s ease;
}
.wish-list .wish-card .img-container .overlay-reserved {
  display: block;
  background: #00000099;
}
.wish-list .wish-card .img-container img {
  width: 150px;
  height: 150px;
  position: absolute;
}
.wish-list .wish-card .img-container .option-btns {
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.wish-list .wish-card .img-container .option-btns .nk-btn {
  text-align: center;
  border: solid 2px white;
  margin: 5px;
  z-index: 1;
  background: none;
}
.wish-list .wish-card .img-container .option-btns .nk-btn:hover {
  text-decoration: underline;
}
.wish-list .wish-card .img-container .reserved-btn {
  position: absolute;
  text-align: center;
}
.wish-list .wish-card .img-container .reserved-btn .nk-btn {
  text-align: center;
  border: solid 2px white;
  margin: 5px;
  z-index: 1;
  background: none;
}
.wish-list .add-new {
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #b5b5b5;
  font-size: 90px;
  height: 150px;
  cursor: pointer;
}
.wish-list a {
  text-decoration: none;
  color: #818080;
}
.wish-list a:hover {
  color: #555454;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }

  .left-circle {
    display: none;
  }

  .right-circle {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */